<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingletrade.mingletrade.mapper.ChatMapper">


	<select id="selectChatList">
		SELECT A.ID, A.ROOM_NAME, A.IS_DIRECT, A.CREATED_AT
		FROM CHAT_ROOM A JOIN CHAT_MEMBER B 
		ON A.ID = B.ROOM_ID 
		WHERE B.EMAIL = #{email}
	</select>
	
	<select id="selectDirectChatRoom">
		WITH temp AS (
		    SELECT ROOM_ID, EMAIL
		    FROM CHAT_MEMBER
		    WHERE EMAIL IN (#{senderEmail}, #{receiverEmail})
		)
		SELECT ROOM_ID
		FROM temp A join CHAT_ROOM B 
		on A.ROOM_ID = B.ID
		where B.is_direct = TRUE
		GROUP BY ROOM_ID
		HAVING COUNT(DISTINCT EMAIL) = 2
	</select>
	
	<select id="selectDirectMessageContent" resultType="com.mingletrade.mingletrade.domain.Chat">
		SELECT 
		    ID, ROOM_ID, SENDER_EMAIL, CREATED_AT, CONTENT
		FROM CHAT_MESSAGE
		WHERE 1=1 
		AND ROOM_ID = #{roomId}
		<if test="cursor != null">
        AND ID &lt; #{cursor}
    	</if>
		ORDER BY CREATED_AT DESC
		LIMIT #{limit}
	</select>
	
	<select id="createRoomId">
		SELECT NEXTVAL('SEQ_CHAT_ROOM') AS ROOM_ID
	</select>
	
	<insert id="insertDirectChatRoom">
		INSERT INTO CHAT_ROOM (ID, ROOM_NAME, IS_DIRECT, ROOM_IMAGE) 
		VALUES (#{roomId}, #{receiverEmail}, true, #{receiverUrl})
	</insert>
	
	<insert id="insertDirectChatMember">
		INSERT INTO CHAT_MEMBER (ROOM_ID, EMAIL) 
		VALUES (#{roomId}, #{email})
	</insert>
	
	<insert id="insertDirectChatMessage">
		INSERT INTO CHAT_MESSAGE (ROOM_ID, SENDER_EMAIL, CONTENT) 
		VALUES (#{roomId}, #{senderEmail}, #{content})
	</insert>
	

</mapper>