<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingletrade.mingletrade.mapper.FreeboardMapper">


	<insert id="insertFreeboard" parameterType="com.mingletrade.mingletrade.domain.Freeboard">
		INSERT INTO freeboard (title, writer, content)
		VALUES (#{title}, #{writer}, #{content})
	</insert>
	
	<select id="selectAllFreeboard" resultType="com.mingletrade.mingletrade.domain.Freeboard">
	  SELECT 
	    id, 
	    title, 
	    writer, 
	    content, 
	    created_at AS createdAt, 
	    deleted_at AS deletedAt, 
	    views
	  FROM freeboard
	  WHERE deleted_at IS NULL
	  ORDER BY id DESC
	  LIMIT #{limit} OFFSET #{start}
	</select>

	<select id="selectTotalCount" resultType="int">
		select count(*) 
		from freeboard 
		where deleted_at is null
	</select>
	
	<select id="selectOneById" resultType="com.mingletrade.mingletrade.domain.Freeboard">
		SELECT id, 
			   title, 
			   writer, 
			   content, 
			   created_at AS createdAt, 
			   deleted_at AS deletedAt, 
			   views
		FROM freeboard WHERE id = #{id}
	</select>

	

</mapper>