<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingletrade.mingletrade.mapper.FreeboardMapper">


	<insert id="insertFreeboard" parameterType="com.mingletrade.mingletrade.domain.Freeboard">
		INSERT INTO freeboard (title, writer, content, email)
		VALUES (#{title}, #{writer}, #{content}, #{email})
	</insert>
	
	<select id="selectAllFreeboard" resultType="com.mingletrade.mingletrade.domain.Freeboard">
	  SELECT 
	    id, 
	    title, 
	    writer, 
	    email,
	    content, 
	    created_at AS createdAt, 
	    deleted_at AS deletedAt, 
	    views
	  FROM freeboard
	  WHERE deleted_at IS NULL
	  ORDER BY id DESC
	  LIMIT #{limit} OFFSET #{start}
	</select>

	<select id="selectTotalCount" resultType="int">
		select count(*) 
		from freeboard 
		where deleted_at is null
	</select>
	
	<select id="selectOneById" resultType="com.mingletrade.mingletrade.domain.Freeboard">
		SELECT id, 
			   title, 
			   writer, 
			   content, 
			   email,
			   created_at AS createdAt, 
			   deleted_at AS deletedAt, 
			   views
		FROM freeboard WHERE id = #{id}
	</select>
	
	<update id="updateFreeboard">
		UPDATE FREEBOARD 
		SET TITLE = #{title},
		    CONTENT = #{content}
		WHERE ID = #{id}
	</update>
	
	<select id="findViewInFiveMins" resultType="int">
		select COUNT(*)  
		from FREEBOARD_VIEW 
		where user_email = #{email} 
		and freeboard_id = #{id}
		and extract(minute FROM NOW()-CREATED_AT) <![CDATA[<=]]> 5
	</select>
	
	<insert id="viewTableUp">
		INSERT INTO FREEBOARD_VIEW (FREEBOARD_ID, USER_EMAIL) 
		VALUES(#{id}, #{email})
	</insert>
	
	
	<update id="boardViewUpdate">
		UPDATE FREEBOARD 
		SET VIEWS = VIEWS + 1
		WHERE ID = #{id}
	</update>
	
	
	

</mapper>